﻿@model IEnumerable<FaceFinder.Models.Entities.UserProfile>

@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="card-title">Usuarios</h4>
                                <div class="small text-muted" style="margin-top:-10px;">Cuentas de usuarios</div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <a href="@(Url.Action("Create"))" class="btn btn-success">Nueva cuenta de usuario</a>
                            </div>
                        </div>
                        <br />
                        @if (Model.Count() > 0)
                        {
                            <div class="row">
                                <div class="container">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        Nombre
                                                    </th>
                                                    <th>
                                                        Apellido
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.ApplicationUser.Email)
                                                    </th>
                                                    <th>
                                                        Estatus
                                                    </th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.FirstName)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.LastName)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.ApplicationUser.Email)
                                                        </td>
                                                        <td>
                                                            @if (item.Disabled)
                                                            {
                                                                <span class="label label-default">Inactivo</span>
                                                            }
                                                            else
                                                            {
                                                                <span class="label label-success">Activo</span>
                                                            }
                                                        </td>
                                                        <td>
                                                            @Html.ActionLink("Editar", "Edit", new { id = item.ApplicationUserId })
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    No existen elementos registrados para mostrar.
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
