﻿@using Microsoft.AspNet.Identity
@using FaceFinder.BackOffice.Models
@{
    bool? IsError = null;
    var Message = "";
    if (ViewBag.Message != null)
    {
        IsError = ((MessageViewModel)ViewBag.Message).IsError;
        Message = ((MessageViewModel)ViewBag.Message).Message;
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title - FaceFinder Admin Portal</title>
    <!-- Main styles for this application -->
    @*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/css/sweetalert.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
</head>
<!-- BODY options, add following classes to body to change options
    1. 'sidebar-nav'		  - Navigation on the left
        1.1. 'sidebar-off-canvas'	- Off-Canvas
            1.1.1 'sidebar-off-canvas-push'	- Off-Canvas which move content
            1.1.2 'sidebar-off-canvas-with-shadow'	- Add shadow to body elements
    2. 'fixed-nav'			  - Fixed navigation
    3. 'navbar-fixed'		  - Fixed navbar
-->
<body class="navbar-fixed sidebar-nav fixed-nav">
    <div id="pageSpinner" class="spinner" style="display:none;"></div>
    <!-- start: Layout Settings / remove this div from your project -->
    @*<div id="theme-settings" class="hidden-sm hidden-xs">
            <div id="open-close">
                <i class="fa fa-cog fa-spin"></i>
            </div>
            <h4>Options</h4>
            <hr>
            <ul id="options">
                <li>
                    <span class="desc">Fixed header</span>
                    <label class="switch switch-3d switch-sm switch-success pull-right">
                        <input type="checkbox" id="fixed-header" class="switch-input" checked>
                        <span class="switch-label"></span>
                        <span class="switch-handle"></span>
                    </label>
                </li>
                <li>
                    <span class="desc">Sidebar navigation</span>
                    <label class="switch switch-3d switch-sm switch-success pull-right">
                        <input type="checkbox" id="sidebar-navigation" class="switch-input" checked>
                        <span class="switch-label"></span>
                        <span class="switch-handle"></span>
                    </label>
                </li>
                <li>
                    <span class="desc">Fixed navigation</span>
                    <label class="switch switch-3d switch-sm switch-success pull-right">
                        <input type="checkbox" id="fixed-navigation" class="switch-input" checked>
                        <span class="switch-label"></span>
                        <span class="switch-handle"></span>
                    </label>
                </li>
                <li>
                    <span class="desc">Hidden sidebar</span>
                    <label class="switch switch-3d switch-sm switch-success pull-right">
                        <input type="checkbox" id="hidden-sidebar" class="switch-input">
                        <span class="switch-label"></span>
                        <span class="switch-handle"></span>
                    </label>
                </li>
            </ul>
        </div>*@
    <!-- end: Layout Settings -->
    <header class="navbar">
        <div class="container-fluid">
            <button class="navbar-toggler mobile-toggler hidden-lg-up" type="button">&#9776;</button>
            <a class="navbar-brand" href="#"></a>
            <ul class="nav navbar-nav hidden-md-down">
                <li class="nav-item">
                    <a class="nav-link navbar-toggler layout-toggler" href="#">☰</a>
                </li>
                <li class="nav-item p-x-1">
                    <span class="nav-link">FaceFinder - Sistema de identificación de perfiles.</span>
                </li>
                @*@if (IsAgent)
                    {
                        <li class="nav-item p-x-1">
                            <a class="nav-link" href="#">Dashboard</a>
                        </li>
                    }
                    @if (IsAdmin)
                    {
                        <li class="nav-item p-x-1">
                            <a class="nav-link" href="#">Users</a>
                        </li>
                    }
                    <li class="nav-item p-x-1">
                        <a class="nav-link" href="#">Settings</a>
                    </li>
                *@
            </ul>
            <ul class="nav navbar-nav pull-right hidden-md-down">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <img src="~/Content/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                        <span class="hidden-md-down">Opciones de usuario</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="dropdown-header text-xs-center">
                            <strong>Cuenta</strong>
                        </div>
                        @if (Request.IsAuthenticated)
                        {
                            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                            {
                                @Html.AntiForgeryToken()
                                <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-lock"></i> Logout</a>
                            }
                        }

                    </div>
                </li>
            </ul>
        </div>
    </header>
    <div class="sidebar">
        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-title">
                    Dashboard
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Home")"><i class="icon-speedometer"></i> DASHBOARD</a>
                </li>
                <li class="divider"></li>
                @if (IsAdmin)
                {
                    <li class="nav-title">
                        Opciones
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "People")"><i class="icon-people"></i> Perfiles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "UserProfiles")"><i class="icon-shield"></i> Usuarios</a>
                    </li>
                }

                @*<li class="nav-item">
                        <a class="nav-link" href="#"><i class="icon-bell"></i> Alertas</a>
                    </li>*@
            </ul>
        </nav>
    </div>
    <!-- Main content -->
    <main class="main">
        <div class="container-fluid">
            <div class="animated fadeIn">
                @RenderBody()
            </div>
        </div>
        <!-- /.conainer-fluid -->
    </main>
    <footer class="footer ng-scope">
        <span class="pull-right text-muted">
            Angel Garcia © @DateTime.Now.Year
        </span>
    </footer>
    @{
        if (IsError != null)
        {
            <span id="IsError" style="visibility: hidden;display:none">@IsError</span>
            <span id="Message" style="visibility: hidden;display:none">@Message</span>
        }

    }
    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- The Close Button -->
        <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>

        <!-- Modal Content (The Image) -->
        <img class="modal-content" id="img01">

        <!-- Modal Caption (Image Text) -->
        <div id="caption"></div>
    </div>
    <!-- Bootstrap and necessary plugins -->
    <script src="~/Scripts/js/libs/jquery.min.js"></script>
    <script src="~/Scripts/js/libs/tether.min.js"></script>
    <script src="~/Scripts/js/libs/bootstrap.min.js"></script>
    <script src="~/Scripts/js/libs/pace.min.js"></script>
    <!-- Plugins and scripts required by all views -->
    <script src="~/Scripts/js/libs/Chart.min.js"></script>
    <script src="~/Scripts/js/views/shared.js"></script>
    <script src="~/Scripts/js/libs/sweetalert.min.js"></script>
    <!-- GenesisUI main scripts -->
    <script src="~/Scripts/js/app.js"></script>
    <script src="~/Scripts/js/app-options.js"></script>
    <!--Custom Js-->
    <script src="~/Scripts/js/nautJs.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
