﻿@using FaceFinder.BackOffice.Models
@model LoginViewModel
@{
    Layout = null;
    ViewBag.Title = "Log in";
    bool? IsError = null;
    var Message = "";
    if (ViewBag.Message != null)
    {
        IsError = ((MessageViewModel)ViewBag.Message).IsError;
        Message = ((MessageViewModel)ViewBag.Message).Message;
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <link rel="shortcut icon" href="assets/ico/favicon.png"> -->
    <title>Autenticación - FaceFinder Admin</title>
    @Styles.Render("~/Content/commonCss")
    <!-- Main styles for this application -->
    <link href="~/Content/css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="card-group vamiddle">
                    <div class="card  p-a-2">
                        <div class="card-block">
                            <h1>Login</h1>
                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <p class="text-muted">Ingresa con tus credenciales</p>
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                <br />
                                <div class="input-group m-b-1">
                                    <span class="input-group-addon"><i class="icon-user"></i></span>
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                                </div>
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                <br />
                                <div class="input-group m-b-2">
                                    <span class="input-group-addon"><i class="icon-lock"></i></span>
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <button type="submit" class="btn btn-primary p-x-2">Login</button>
                                    </div>
                                    @*<div class="col-xs-6 text-xs-right">
                                        @Html.ActionLink("Forgot your password?", "ForgotPassword", null, new { @class = "btn btn-link p-x-0", @role = "button" })
                                    </div>*@

                                </div>
                            }
                        </div>
                    </div>
                    <div class="card card-inverse card-primary p-y-3" style="width:44%">
                        <div class="card-block text-xs-center">
                            <div>
                                <h2>FaceFinder Admin</h2>
                                <p>
                                    Face finder, a través de un servicio en la nube de
                                    reconocimiento facial, identifica si la cara de una persona coincide con alguna de las personas
                                    que están siendo buscadas por la policía.
                                    <br />
                                    Esta lista de personas buscadas será ingresada a una base de datos mediante un
                                    mantenimiento (BackOffice), donde además de los datos conocidos de la persona se almacenarán imágenes de su rostro.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @{
        if (IsError != null)
        {
            <span id="IsError" class="hidden">@IsError</span>
            <span id="Message" class="hidden">@Message</span>
        }

    }
    <!-- Bootstrap and necessary plugins -->
    <script src="~/Scripts/js/libs/jquery.min.js"></script>
    <script src="~/Scripts/js/libs/tether.min.js"></script>
    <script src="~/Scripts/js/libs/bootstrap.min.js"></script>
    <script>
        function verticalAlignMiddle() {
            var bodyHeight = $(window).height();
            var formHeight = $('.vamiddle').height();
            var marginTop = (bodyHeight / 2) - (formHeight / 2);
            if (marginTop > 0) {
                $('.vamiddle').css('margin-top', marginTop);
            }
        }
        $(document).ready(function () {
            verticalAlignMiddle();
        });
        $(window).bind('resize', verticalAlignMiddle);
    </script>

    @Scripts.Render("~/bundles/commonJs")
    @Scripts.Render("~/bundles/jqueryval")
</body>
</html>

@*<div class="row">
        <div class="col-md-8">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Use a local account to log in.</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Log in" class="btn btn-default" />
                        </div>
                    </div>
                    <p>
                        @Html.ActionLink("Register as a new user", "Register")
                    </p>
                    @* Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>
                }
            </section>
        </div>
    <div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
*@