﻿@{
    Layout = null;
    bool valid = ViewBag.valid;
    string code = ViewBag.code;
    string userId = ViewBag.userId;
}
<!DOCTYPE html>
<html>
<head>
    <!--Import materialize.css-->
    <link href="~/Content/materialize/css/materialize.min.css" rel="stylesheet" media="screen,projection" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        html {
            height: 100%;
        }

        body {
            min-height: 100%;
        }

        span.badge.info {
            font-weight: 300;
            font-size: 0.8rem;
            color: #fff;
            background-color: #26a69a;
            border-radius: 2px;
        }
    </style>
</head>

<body class="valign-wrapper center-align">
    <div class="container">
        <div class="center-block">
            <div class="center-align">
                <h1>Naut</h1>
                <span id="message">Password Reset Form.</span>
                <br />
                <br />
                <div class="preloader-wrapper big active" id="loadingDiv" style="display: none">
                    <div class="spinner-layer spinner-blue-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div><div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
                <div class="row" id="formDiv">
                    @if (valid)
                    {
                        <span class="badge info red" style="position:initial">The password must be at least 6 characters long and contain a digit between 0 - 9.</span>
                        <form class="col s12 offset-m3 m6">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="password" type="password" class="validate">
                                    <label for="password" style="text-align: left">Password</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="repeatpassword" type="password" class="validate">
                                    <label for="repeatpassword" style="text-align: left">Repeat Password</label>
                                </div>
                            </div>
                            <input type="hidden" id="userId" value="@userId" />
                            <input type="hidden" id="code" value="@code" />
                            <div class="row">
                                <button class="waves-effect waves-light btn-large" id="resetButton">Reset Password</button>
                            </div>
                        </form>
                    }
                    else
                    {
                        <div class="row">
                            <div class="col s12 m5">
                                <div class="card-panel teal">
                                    <span class="white-text">
                                        This link is not valid.
                                    </span>
                                </div>
                            </div>
                        </div>
                    }


                </div>
            </div>

        </div>

    </div>
    <!-- Modal -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Oops</h4>
            <p></p>
        </div>
        <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">OK</a>
        </div>
    </div>
    <!--Import jQuery before materialize.js-->
    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/materialize/materialize.min.js"></script>
    <script src="~/Js/ResetPass.js"></script>
</body>
</html>