﻿@model FaceFinder.Models.Entities.Person
@{
    ViewBag.Title = "Gestionar Fotos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <link href="~/Content/css/glyphicons.css" rel="stylesheet" />
    <link href="~/Content/css/panels.css" rel="stylesheet" />
    <link href="~/Content/css/fileinput.css" rel="stylesheet" />
}
<br />
<div class="row row-equal">
    <div class="col-md-12">
        <div class="card">
            <div class="card-block">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-horizontal">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4 class="card-title" style="padding-left: 10px"> Fotos del perfil</h4>
                                    <div class="small text-muted" style="margin-top:-10px;padding-left: 10px">@(Model.FirstName + " " + Model.LastName)</div>
                                </div>
                            </div>
                            <hr />
                            <div class="row">

                            </div>
                            <br />
                            <div class="row">
                                @using (Html.BeginForm(Html.BeginForm("AddFaces", "People", FormMethod.Post, new { enctype = "multipart/form-data" })))
                                {
                                    <div class="col-md-6 col-sm-12">
                                        <input id="image-input" type="file" name="file" class="file" data-preview-file-type="text">
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/js/libs/fileinput.js"></script>
    <script>
        //Initialize Image Uploader
        $("#image-input").fileinput({
            @*uploadUrl: "@Url.Action("AddFaces", "People", Model.Id)", // server upload action*@
            uploadAsync: false,
            allowedFileExtensions: ['jpg', 'jpeg', 'png']
        });

    </script>
}
