﻿
@model FaceFinder.Models.Entities.Person
@{
    var count = 0;
    ViewBag.Title = "Gestionar Fotos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <link href="~/Content/css/glyphicons.css" rel="stylesheet" />
    <link href="~/Content/css/ModalStyle.css" rel="stylesheet" />
}
<br />
<div class="row row-equal">
    <div class="col-md-12">
        <div class="container">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="row">
                                <div class="col-md-12">
                                    <h4 class="card-title" style="padding-left: 10px"> Fotos del perfil</h4>
                                    <div class="small text-muted" style="margin-top:-10px;padding-left: 10px">@(Model.FirstName + " " + Model.LastName)</div>
                                </div>
                            </div>

                            <div class="row" style="text-align:center">
                                <a href="@(Url.Action("Index"))" class="btn btn-success btn-lg">Volver a la lista</a> &nbsp; <a href="@(Url.Action("AddFaces")+ "/" + Model.Id)" class="btn btn-success btn-lg">Agregar foto</a>
                            </div>
                            <hr />
                            @if (Model.FaceImages.Count > 0)
                            {
                                <div class="row">
                                    <div class="services">
                                        @foreach (var item in Model.FaceImages)
                                        {
                                            count++;
                                            <div class="col-md-4">
                                                <figure class="snip1174 green col-md-4">
                                                    <img src="@item.ImageUrl" alt="foto" />
                                                    <figcaption>
                                                        <a href="#" data-id="@item.Id" class="faceDeleteButton">Eliminar</a>
                                                        <a href="#" class="imgThumb">Ver</a>
                                                    </figcaption>
                                                </figure>
                                            </div>
                                            if (count % 3 == 0)
                                            {
                                                <div class="clearfix"></div>
                                            }
                                        }
                                    </div>
                                </div>

                            }
                            else
                            {
                                <div class="row">
                                    <div class="col-md-12">
                                        &nbsp;  No existen elementos registrados para mostrar.
                                    </div>
                                </div>
                            }
                            <hr />
                            <br />

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/js/facesView.js"></script>
    <script src="~/Scripts/js/libs/ModalJs.js"></script>
    <script>
        FacesViewModule.init();
    </script>
}




