﻿@model IEnumerable<FaceFinder.Models.Entities.Person>

@{
    ViewBag.Title = "Perfiles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="card-title">Perfiles</h4>
                                <div class="small text-muted" style="margin-top:-10px;">Listado de perfiles buscados</div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <a href="@(Url.Action("Create"))" class="btn btn-success">Agregar perfil</a>
                            </div>
                        </div>
                        <br />
                        @if (Model.Count() > 0)
                        {
                            <div class="row">
                                <div class="container">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.FirstName)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.LastName)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.NickName)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.WantedReasons)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Birthdate)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Gender)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Notes)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Disabled)
                                                    </th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.FirstName)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.LastName)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.NickName)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.WantedReasons)
                                                        </td>
                                                        <td>
                                                            @if (item.Birthdate.HasValue)
                                                            {
                                                                @item.Birthdate.Value.ToString("MM/dd/yyyy")
                                                            }
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Gender)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Notes)
                                                        </td>
                                                        <td>
                                                            @if (item.Disabled)
                                                            {
                                                                <span class="label label-default">Inactivo</span>
                                                            }
                                                            else
                                                            {
                                                                <span class="label label-success">Activo</span>
                                                            }
                                                        </td>
                                                        <td>
                                                            @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                                                            @Html.ActionLink("Gestionar Fotos", "Faces", new { id = item.Id })
                                                            @* | <a href="#" data-id="@item.Id" class="personDeleteButton">Eliminar</a>*@
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    No existen elementos registrados para mostrar.
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/js/personView.js"></script>
    <script>
        PersonViewModule.init();
    </script>
}