﻿@model FaceFinder.Models.Api.Models.DashboardModel
@{
    ViewBag.Title = "Dashboard";
}
<div class="card-group m-b-1">
    <div class="card">
        <div class="card-block">
            <div class="h1 text-muted text-xs-right m-b-2">
                <i class="icon-people"></i>
            </div>
            <div class="h4 m-b-0">@Model.NumberOfProfilesWanted</div>
            <small class="text-muted text-uppercase font-weight-bold">Perfiles Registrados</small>
        </div>
    </div>
    <div class="card">
        <div class="card-block">
            <div class="h1 text-muted text-xs-right m-b-2">
                <i class="icon-shield"></i>
            </div>
            <div class="h4 m-b-0">@Model.NumberOfAccounts</div>
            <small class="text-muted text-uppercase font-weight-bold">Usuarios (agentes)</small>
        </div>
    </div>
    <div class="card">
        <div class="card-block">
            <div class="h1 text-muted text-xs-right m-b-2">
                <i class="icon-bell"></i>
            </div>
            <div class="h4 m-b-0">@Model.Alerts.Count</div>
            <small class="text-muted text-uppercase font-weight-bold">Alertas emitidas</small>
        </div>
    </div>
</div>
<div class="row row-equal">
    <div class="col-md-12">
        <div class="card">
            <div class="card-block">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="card-title"><i class="icon-bell"></i> Alertas registradas</h4>
                        <div class="small text-muted" style="margin-top:-10px;"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <hr class="m-t-0">
                        @if (Model.Alerts.Count() > 0)
                        {
                            <div class="container">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Fecha
                                                </th>
                                                <th>
                                                    Latitud
                                                </th>
                                                <th>
                                                    Longitud
                                                </th>
                                                <th>
                                                    Persona encontrada
                                                </th>
                                                <th>
                                                    Usuario responsable
                                                </th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.Alerts)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.DateCreated)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Latitude)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Longitude)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Person.Name)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.UserProfile.Name)
                                                    </td>
                                                    <td>
                                                        @if (item.Longitude != null && item.Latitude != null)
                                                        {
                                                            var mapsUrl = $"https://www.google.com/maps/search/?api=1&query={item.Latitude},{item.Longitude}";

                                                            <a href="@mapsUrl" target="_blank" class="btn btn-success btn-sm">Ver ubicación</a>
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    No existen elementos registrados para mostrar.
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="card-footer">

            </div>
        </div>
        <!--/.card-->
    </div>
</div>
<!--/row-->

@section Scripts {
    <script>
        setTimeout(function () {
            window.location.reload(1);
        }, 10000);
    </script>
}